html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0px;
	* {
		box-sizing: border-box;
	}
	p {
		margin: 0px;
	}
	button:hover {
		cursor: pointer;
	}
}

body {
	background-color: black;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
	height: 100%;
}

.row {
	display: flex;

	.column {
		width: 40px;
		height: 40px;
		border: 1px solid black;
	}

	.x::after,
	.o::after {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.x::after {
		content: 'x';
	}
	.o::after {
		content: 'o';
	}
}
