html,
body,
#root {
	box-sizing: border-box;
	height: 100%;
	margin: 0px;
	* {
		box-sizing: border-box;
	}
	p {
		margin: 0px;
	}
	button:hover {
		cursor: pointer;
	}
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: black;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
	height: 75%;
	width: 90%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	color: white;
	border: 2px solid white;
	position: relative;

	@media (max-width: 950px) {
		.matches-container {
			flex-direction: column;
		}
		.user-matches {
			width: 100% !important;
		}
		.create-match-form {
			flex-wrap: wrap;
		}
	}
	@media (max-width: 950px) {
		.create-match-form {
			align-items: start;
			flex-direction: column;
			gap: 20px;

			button {
				padding: 0px;
			}
			form {
				flex-wrap: wrap;
			}
		}
	}

	.header,
	.matches-container {
		display: flex;
		justify-content: space-evenly;
	}
	.header {
		flex-wrap: wrap;
		padding: 0px 10px;
		border-bottom: 2px solid white;
		top: 0px;
		gap: 10px;
		position: sticky;
		background-color: black;
	}
	.matches-container {
		padding: 20px 0px;
		height: 100%;
		overflow: hidden;

		.matches,
		.user-matches {
			overflow-y: auto;
			height: 100%;
			padding: 10px 20px;
			width: 40%;
		}
		.matches {
			width: 100%;
			.create-match-form {
				display: flex;
				justify-content: space-between;

				form {
					display: flex;
					gap: 10px;
					input {
						color: white;
						border: none;
						border-bottom: 2px solid white;
						background: none;
						padding: 5px;
					}
					textarea:focus,
					input:focus {
						outline: none;
					}
				}
				button {
					height: fit-content;
					font-size: 16px;
					color: white;
					background: none;
					border: none;
				}
				button:hover {
					text-decoration: underline;
				}
			}
			.matches-list > div > .match {
				display: flex;
				align-items: center;
				gap: 10px;

				h2 {
					margin-right: auto;
				}
				button {
					height: fit-content;
					font-size: 16px;
					color: white;
					background: none;
					border: none;
				}
				button:hover {
					text-decoration: underline;
				}
			}
			.matches-list > .gameboard-display {
				button {
					height: fit-content;
					font-size: 16px;
					color: white;
					background: none;
					border: none;
					padding: 0;
				}
				button:hover {
					text-decoration: underline;
				}

				.game {
					.game-header {
						display: flex;
						align-items: center;
					}
					h1 {
						margin: 0px 0px;
					}
					h2 {
						margin: 0px 0px;
					}
					.board {
						margin-top: 15px;
					}
				}
			}
		}
		.user-matches {
			.match {
				display: flex;
				align-items: center;
				gap: 10px;

				h3 {
					margin-right: auto;
				}
				button {
					height: fit-content;
					font-size: 16px;
					color: white;
					background: none;
					border: none;
				}
				button:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.board {
	.row {
		display: flex;
		color: white;
		width: fit-content;

		.column {
			width: 40px;
			height: 40px;
			border: 1px solid white;
		}
		@media (max-width: 950px) {
			.column {
				width: 35px;
				height: 35px;
			}
		}
		.column:hover {
			cursor: pointer;
		}

		.x {
			background-color: #bb4430;
		}
		.o {
			background-color: #ffc100;
		}
	}
}
